div.container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    
}

div.item{
    background-color: thistle;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}